.main{
	position: relative;
	left: 10px;
	transform: 100%;
	font-family: Arial;
}
.rec_bakingtime{
	font-size: 1.2rem;
}
ul{
	width: 425px;
}
.rec_bakingtemperature{
	font-size: 1.2rem;
}
#clock{
	position:  relative;
	top: 3px;
	margin-right: 1rem;
	height: 1.2rem;
	width:  1.2rem;
}
#bakingtemperature{
	position:  relative;
	top: 3px;
	left: -4px;
	height: 1.2rem;
	width:  1.2rem;
}